html {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	background: #3e3e42;
	color: white;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	height: 100%;
}

button {
	border-width: 0;
	flex-grow: 1;
	font-weight: bold;
	color: white;
}

button:hover {
	cursor: pointer;
}

button:disabled {
	font-weight: normal;
}

#copy-from-clipboard-button {
	background: #338356;
}

#copy-markdown-to-clipboard-button {
	background: #007acc;
}

#install-button {
	background: #d51ced;
}

.input {
	display: flex;
	width: 100%;
}

.input input {
	flex-grow: 1;
}

.output {
	flex-grow: 1;
	color: white;
	padding-bottom: 5rem;
}
