html {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	background: #3e3e42;
	color: white;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	height: 100%;
}

#help-button,
button {
	border-width: 0;
	flex-grow: 1;
	font-weight: bold;
	color: white;
	padding: 0.5rem;
	text-decoration: none;
}

#help-button,
button:hover {
	cursor: pointer;
}

button:disabled {
	font-weight: normal;
}

#copy-from-clipboard-button {
	background: #338356;
}

#copy-markdown-to-clipboard-button {
	background: #007acc;
}

#help-button {
	background: #d51ced;
	text-align: center;
	font-size: 13px;
	font-family: sans-serif;
}

#install-button {
	background: #d51ced;
}

.input {
	display: flex;
	width: 100%;
}

.input input {
	flex-grow: 1;
}

.output {
	color: white;
	padding-bottom: 5rem;
}
